/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Fonts 
========================================*/

@import url("../fonts/stylesheet.css");


@font-face {
  font-family: "opensans-reg";
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: "opensans-light";
  src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: "opensans-semibold";
  src: url('../fonts/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: "opensans-bold";
  src: url('../fonts/OpenSans-Bold.ttf');
}



/* Macro styles
=================================================== */

html, body {
  height: 100%;
  color: #4c4c4c;
}

span {
  font-size: 12px;
  font-family: opensans-reg;
}

h2 {
  color: #444A59;
  margin-bottom: 30px;
  margin-top: 0px;
  font-size: 2em;
  /* line-height: 1.3em; */
  font-family: opensans-reg;
}

p {
  font-family: opensans-reg;
  color: #7C808A;
  font-size: 1em;
  line-height: 1.6em;
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: #4c4c4c;
}

body {
  font-family: opensans-light;
  /* background: #333 url("../img/bg.jpg") no-repeat center center fixed; */
  background-size: cover;
  margin: 0;
  width: 100%;
  background-color: #F5F6F6;
}

.white-bg {
  background-color: #ffffff;
}

.small-caps {
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: opensans-semibold;
}

/* AWESOME FONT-SMOOTHING! */

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

/* Global */ 
.header-nav {
  width: 100%;
  background-color: #0075BB;
  height: 55px;
  padding: 17px 30px 0 30px;
}
.header-nav-logo img {
  width: 190px;
  float: left;
  /* margin-top: 17px; */
}
.header-nav-account {
  float: right;
  /* margin-top: 17px; */
}
.header-nav-account .account-name {
  display: inline-block;
  color: white;
  font-family: opensans-bold;
}
.header-nav-account .fa-chevron-down {
  color: white;
  margin-left: 8px;
  font-size: 10px;
}

/* Contract Explorer
=================================================== */


.header-control {
  height: 75px;
  background-color: #ffffff;
  padding: 0 30px;
  position: relative;
}
.header-control-dataset-name {
  font-size: 24px;
  font-family: opensans-reg;
  float: left;
  margin-top: 24px;
}
.header-control-buttons {
  float: right;
  margin-top: 21px;
}
.header-control-buttons button {
  margin-left: 5px;
}
.grey-button {
  background: #F5F5F5;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  color: #4C4C4C;
  font-family: opensans-semibold;
  width: 150px;
  height: 33px;
}
.grey-button .fa {
  font-size: 13px;
  margin-right: 5px;
}



.table-options {
  background-color: #ffffff;
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;

  height: 42px;
}
.table-option-box {
  border-right: 1px solid #D7D7D7;
  float: left;
  height: 100%;
  color: #4C4C4C;
}
.table-option-box .fa {
  font-size: 13px;
  margin-right: 5px;
  margin-top: 3px;
}
.table-options-show-filters {
  width: 186px;
  padding-top: 10px;
  padding-left: 30px;
  font-family: opensans-reg;
}
.table-options-search {
  width: 280px;
  padding: 6px;
}
.search-box {
  width: 100%;
  height: 28px;
  margin: 0;
  border-radius: 3px;
  font-family: opensans-reg;
  font-size: 12px
}
.table-options-show-columns {
  width: 280px;
}
.show-columns-button {
  padding: 10px 20px;
}
.table-options-show-columns .dropdown-menu {
  width: 280px;
  border-radius: 0;
  border: 1px solid #d7d7d7;
  top: 38px;
  padding: 0;
}
.table-options-show-columns .dropdown-menu .filter-option-search {
  padding: 6px;
}
.table-options-show-columns .panel-body {
  padding-bottom: 0;
}
.dark-p-text {
  font-family: opensans-reg;
  font-size: 12px;
  color: #4c4c4c;
}
.table-options-show-columns .fa-chevron-down {
  float: right;
  margin-right: 0;
}
.table-options-showing-rows {
  padding: 10px 20px;
  float: left;
  height: 100%;
  color: #4C4C4C;
}



.active-filters-bar {
  background-color: #ffffff;
  border-bottom: 1px solid #D7D7D7;
  height: 42px;
  padding: 7px 30px 0 30px;
}
.active-filter {
  padding: 3px 10px 6px 15px;
  background-color: #F3F4F6;
  border-radius: 40px;
  display: inline-block;
  border: 1px solid #D7D7D7;
  margin-right: 2px;
}
.bold {
  font-family: opensans-bold;
}
.active-filter .fa {
  color: #999999;
  font-size: 13px;
  margin-left: 10px;
}



/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    
    height: calc(100% - 214px);
    overflow: auto;
    position: absolute;
    top: 214px;
    width: 100%;

    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 385px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 385px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 385px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 385px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


/*
#wrapper {
  padding-left: 385px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 0;
}
#sidebar-wrapper {
  width: 385px;
  border-right: 1px solid #d7d7d7;
}
#wrapper.toggled #sidebar-wrapper {
  width: 0;
}
.filters-menu-wrapper {
  width: 260px;
  height: 5000px;
  z-index: 1000;
  position: fixed;
  left: 250px;
  
  margin-left: -251px;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#page-content-wrapper {
  padding: 20px;
  position: relative;
}
#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0;
}
*/

.filters-menu {
  width: 385px;
}
.filters-menu.panel-group {
  margin-bottom: 0px;
}
.panel-group .panel+.panel {
  margin-top: 0;
}
#wrapper .panel-group .filter-category {
  border-radius: 0;
  background-color: #fff;
  border-top: none;
  border-bottom: 1px solid #d7d7d7;
  padding: 0;
}
#wrapper .panel-group .filter-category .panel-heading {
  padding: 20px 20px 20px 30px;
}
.panel-body {
  padding: 15px;
  border-top: 1px solid #d7d7d7;
  max-height: 300px;
  overflow-y: auto;
}
.filter-category-title {
  font-family: opensans-semibold;
  color: #4c4c4c;
  display: inline-block;
  font-size: 14px;
}
.filter-category .panel-heading i {
  float: right;
  color: #999999;
}
.filter-category button, .filter-category input {
  border-radius: 3px;
}


/* Options within each filter category */
.filter-option-search {
  padding: 6px;
  border-top: 1px solid #d7d7d7;
}
.filter-option-search .search-box {
  margin: 0;
  width: 100%;
}


/* category: term */
.filter-list li {
  margin-bottom: 15px;
  position: relative;
}
input.filter-checkbox {
  margin-right: 8px;
  margin-top: 0;
}
.filter-name {
  font-family: opensans-reg;
  font-size: 12px;
}
.filter-open-more {
  position: absolute;
  top: 4px;
  right: 0;
  color: #999999;
}
.filter-open-more i {
  margin-left: 5px;
}


/* category: currency */
.form-control {
  font-family: opensans-reg;
  font-size: 12px;
}
.category-larger-padding .panel-body {
  padding: 30px;
}
.category-currency .panel-body {
  overflow: visible;
}
.panel-body:nth-last-child(3) {
  margin-top: 15px;
}
.inline-dropdown {
  display: inline-block;
  margin-right: 5px;
}
.input-group {
  margin-top: 15px;
}
.add-filter-button {
  float: right;
  margin-top: 15px;
}
.top-space {
  margin-top: 15px;
}


/* category: date filters */
.date-picker {
  width: 140px;
  display: inline-block;
  margin-right: 10px;
}
.date-between {
  margin-right: 10px;
}


/* column options */
.arrow_box {
  position: relative;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  top: 10px;
  width: 175px;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 5px;
  margin-left: -5px;
}
.arrow_box:before {
  border-color: rgba(215, 215, 215, 0);
  border-bottom-color: #d7d7d7;
  border-width: 6px;
  margin-left: -6px;
}
.column-options li {
  padding: 10px 20px 10px 15px;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.column-options li:hover {
  background-color: #FBFBFC;
}
.column-options li i {
  margin-right: 8px;
  position: relative;
  top: 1px;
  width: 20px;
  text-align: center;
}
.column-options .hide-column {
  border-top: 1px solid #d7d7d7;
}


/* extended department/agency/office filters */

.extended-filter {
  width: 383px;
  border-radius: 0;
  position: absolute;
  top: -1px;
  /* top: -1px;
  left: -1px; */
  display: none;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.filter-agency {
  left: -1px;
}
.extended-filter-appear {
  display: block;
  opacity: 1;
}
.extended-filter .panel-heading {
  padding: 20px 20px 20px 30px;
  border-bottom: 1px solid #d7d7d7;
}
.extended-filter .filter-option-search {
  border-top: none;
}

.filter-office {
  left: 381px;
}

.close-box {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 5px;
  top: 8px;
}
.close-box i {
  position: absolute;
  top: 12px;
  right: 15px;
}